config SHIELD_KURNIKAS_SPLIT_LP_LEFT_CENTRAL
    def_bool $(shields_list_contains,kurnikas-split-lp-left-central)

config SHIELD_KURNIKAS_SPLIT_LP_LEFT_PERIPHERAL
    def_bool $(shields_list_contains,kurnikas-split-lp-left-peripheral)

config SHIELD_KURNIKAS_SPLIT_LP_RIGHT
    def_bool $(shields_list_contains,kurnikas-split-lp-right)

config SHIELD_KURNIKAS_SPLIT_LP_DONGLE
    def_bool $(shields_list_contains,kurnikas-split-lp-dongle)

